events {
}

http {
    map $http_upgrade $connection_upgrade {
        default upgrade;
        ''      close;
    }

    # HTTP server to redirect all 80 traffic to SSL/HTTPS
    {% if v_http_redirect is defined %}
    server {
        listen 80;
        server_name {{ v_hostname }};

        # Tell all requests to port 80 to be 302 redirected to HTTPS
        return 302 https://$host$request_uri;
    }
    {% else %}
    {% if v_root %}
    server {
        listen 80;
        server_name {{ v_hostname }};
        root {{ v_root }};
    }
    {% endif %}
    {% endif %}

    {% if v_https is defined %}
    # HTTPS server to handle requests
    server {
        listen 443;
        ssl on;

        server_name {{ v_hostname }};

        ssl_certificate /etc/letsencrypt/live/{{ v_hostname }}/fullchain.pem;
        ssl_certificate_key /etc/letsencrypt/live/{{ v_hostname }}/privkey.pem;

        ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
        ssl_prefer_server_ciphers on;
        ssl_ciphers 'ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-DSS-AES128-GCM-SHA256:kEDH+AESGCM:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA:ECDHE-ECDSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-DSS-AES128-SHA256:DHE-RSA-AES256-SHA256:DHE-DSS-AES256-SHA:DHE-RSA-AES256-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA256:AES256-SHA256:AES128-SHA:AES256-SHA:AES:CAMELLIA:DES-CBC3-SHA:!aNULL:!eNULL:!EXPORT:!DES:!RC4:!MD5:!PSK:!aECDH:!EDH-DSS-DES-CBC3-SHA:!EDH-RSA-DES-CBC3-SHA:!KRB5-DES-CBC3-SHA';
        ssl_session_timeout 1d;
        ssl_session_cache shared:SSL:50m;
        ssl_stapling on;
        ssl_stapling_verify on;
        add_header Strict-Transport-Security max-age=15768000;

        # if proxy port is defined, set that to default
        {% if v_nginx and v_nginx.proxy is defined %}
        location / {
            proxy_pass {% if v_nginx.https is defined %}https{% else %}http{% endif %}://127.0.0.1:{{v_nginx.proxy}};
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_heaer Host $host;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        }
        {% else %}
        root {{ v_root | default("/var/www/html") }};

        # Add index.php to the list if you are using PHP
        index index.php index.html index.htm index.nginx-debian.html;

        location / {
                # First attempt to serve request as file, then
                # as directory, then fall back to displaying a 404.
                try_files $uri $uri/ =404;
        }
        {% endif %}

        # Managing requests to verify letsencrypt host
        location ~ /.well-known {
            allow all;
        }
    }
    {% endif %}
}
